* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .cabeza {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #232c2c;
  height: 80px; }
  header .cabeza .div1 {
    height: 60px;
    width: 110px;
    color: white;
    margin-bottom: 7px;
    padding-left: 10px; }
    header .cabeza .div1 a {
      color: white;
      text-decoration: none;
      transition: transform; }
      header .cabeza .div1 a .titulo {
        font-size: 27px; }
    header .cabeza .div1 .div1 a:hover {
      color: rgba(255, 166, 0, 0.993); }
  header .cabeza .div3 {
    padding-left: 10px; }
    header .cabeza .div3 img {
      width: 70px;
      height: 65px; }
  header .cabeza .div2 {
    padding-left: 30px; }
    header .cabeza .div2 input {
      height: 42px;
      width: 900px;
      border: 2px solid orange;
      border-radius: 10px;
      padding-left: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px; }
  header .cabeza .div4 {
    padding-left: 30px;
    font-size: 14px; }
  header .cabeza .div5 {
    padding-left: 15px;
    padding-top: 13px; }
    header .cabeza .div5 a {
      text-decoration: none;
      color: white;
      transition: transform; }
    header .cabeza .div5 .div5 a:hover {
      color: rgba(255, 166, 0, 0.993); }
  header .cabeza .div6 {
    border: 2px solid rgba(255, 166, 0, 0.993);
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.993);
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 20px; }
    header .cabeza .div6 a {
      text-decoration: none;
      color: black; }
    header .cabeza .div6 .div6 a:hover {
      color: white; }

header nav .seccion1 {
  background-color: #343447;
  height: 50px;
  flex-wrap: wrap; }
  header nav .seccion1 .mdiv1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
    flex-wrap: wrap; }
    header nav .seccion1 .mdiv1 a {
      text-decoration: none;
      color: white;
      transition: transform; }
    header nav .seccion1 .mdiv1 .mdiv1 a:hover {
      color: rgba(255, 166, 0, 0.993); }
