header{
    .cabeza{
        display: flex;
        justify-content: center;
        /*justify-content: space-around;*/
        /*align-items: center;*/
        background-color: rgb(35, 44, 44);
        /*height: 80px;*/
        .div1{
            height: 60px;
            /*width: 110px;*/
            width: 150px;
            color: white;
            margin-bottom: 7px;
            display: flex;
            flex-direction: row;
            /*margin-left: 100px;*/
            svg{
                width: 40px;
                height: 40px;
                margin-top: 12px;
            }
            a{
                color: white;
                text-decoration: none;
                transition: transform;
                .titulo{
                    font-size: 27px;
                }
            }
            a:hover{
                color: rgba(255, 166, 0, 0.993);
            }
        }
        .div1:hover{
            color: rgba(255, 166, 0, 0.993);
        }
        .div3{
            padding-left: 10px;
            img{
                width: 70px;
                height: 65px;
            }
        }
        .div2{
            padding-left: 30px;
            .input{
                height: 42px;
                width: 500px;
                border: 2px solid orange;
                border-radius: 5px 0px 0px 5px;
                padding-left: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }
            @media screen and (max-width: 1211px){
                .input{
                    width: 280px;
                }
                
            }
            @media screen and (max-width: 423px){
                .input{
                    width: 200px;
                }
                
            }
        }
        ul{
            li{
                #navbarDropdown{
                    margin-top: 5px;
                    padding-left: 50px;
                    color: white;
                }
            }
        }
        .btn-outline-success{
            color: orange;
            border: 1px solid orange;
            border-radius: 0px 2px 2px 0px;
        }
        .btn-outline-success:hover{
            color: white;
            background-color: orange;
        }
        .div4{
            padding-left: 50px;
            padding-top: 15px;
            font-size: 14px;
        }
        .div5{
            padding-left: 50px;
            padding-top: 13px;
            a{
                text-decoration: none;
                color: white;
                transition: transform;
            }
            a:hover{
                color: rgba(255, 166, 0, 0.993);
            }
        }
        .div6{
            border: 2px solid rgba(255, 166, 0, 0.993); 
            border-radius: 5px;
            background-color: rgba(255, 166, 0, 0.993);
            height: 30px;
            width: 100px;
            display: flex;
            justify-content: center;
            margin-left: 50px;
            margin-top: 9px;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: white;
            }
        }
    }
    @media screen and (max-width: 991px){
        .cabeza{
            display: block;
            #navbarSupportedContent{
                display: flex;
                flex-direction: column-reverse;
            }
            .div1{
                margin-left: 30px;
            }
            .d-flex{
                margin-top: 20px;
                padding-left: 0px;
                margin-left: 0px;
                display: block;
            }
            .div4{
                margin-top: 10px;
                margin-left: 30px;
                padding-left: 0px;
            }
            ul{
                li{
                    #navbarDropdown{
                        margin-top: 10px;
                        margin-left: 30px;
                        padding-left: 0px;
                    }
                }
            }
            .div5{
                margin-top: 10px;
                margin-left: 31px;
                padding-left: 0px;
            }
            .div6{
                margin-top: 10px;
                margin-left: 30px;
                padding-left: 0px;
            }
            .navbar-toggler{
                color: white;
                border: solid 1px white;
                background-color: white;
                margin-right: 20px;
                .navbar-toggler-icon{
                    background-color: white;
                }
            }
        }
    }
}
.color{
    background-color: rgb(35, 44, 44);
    .volver-inicio{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        a{
            text-decoration: none;
            color: white;
            padding-top: 20px;
            transition: transform;
            .fuente{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 35px;
            }
        }
        a:hover{
            color: rgba(255, 166, 0, 0.993);
        }
    }
}