@import "../base/variables";
@import "../base/maps-extends";
header{
    .cabeza{
        @extend %flex;
        background-color: $header-back;
        .flexxxx{
            .div1{
                height: 60px;
                width: 120px;
                color: white;
                margin-bottom: 7px;
                display: flex;
                flex-direction: row;
                svg{
                    width: 47px;
                    height: 46px;
                    margin-top: 9px;
                    margin-left: 0px;
                    padding-left: 0px;
                    margin-right: 2px;
                }
                a{
                    color: white;
                    text-decoration: none;
                    transition: transform;
                    .titulo{
                        font-size: 27px;
                    }
                    @media screen and (max-width: 439px){
                        .titulo{
                            font-size: 20px;
                            margin-top: 8px;
                        }
                        
                    }
                }
                a:hover{
                    color: $naranja;
                }
            }
            @media screen and (max-width: 469px){
                .div1{
                    margin-left: -15px;
                }
                
            }
            @media screen and (max-width: 439px){
                .div1{
                    margin-right: 0px;
                    width: 90px;
                }
                
            }
            @media screen and (max-width: 377px){
                .div1{
                    margin-right: 0px;
                }
            }
            @media screen and (max-width: 341px){
                .div1{
                    margin-right: 0px;
                }
            }
            .div1:hover{
                color: $naranja;
            }
            .div3{
                padding-left: 10px;
                img{
                    width: 70px;
                    height: 65px;
                }
            }
            .div2{
                padding-left: 30px;
                .input{
                    height: 42px;
                    width: 500px;
                    border: 2px solid orange;
                    border-radius: 5px 0px 0px 5px;
                    padding-left: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                }
                @media screen and (max-width: 1211px){
                    .input{
                        width: 280px;
                    }
                    
                }
                @media screen and (max-width: 991px){
                    .input{
                        width: 600px;
                        height: 38px;
                    }
                    
                }
                @media screen and (max-width: 889px){
                    .input{
                        width: 500px;
                    }
                }
                @media screen and (max-width: 801px){
                    .input{
                        width: 450px;
                    }
                    
                }
                @media screen and (max-width: 739px){
                    .input{
                        width: 400px;
                    }
                }
                @media screen and (max-width: 687px){
                    .input{
                        width: 350px;
                    }
                }
                @media screen and (max-width: 637px){
                    .input{
                        width: 300px;
                    }
                }
                @media screen and (max-width: 587px){
                    .input{
                        width: 250px;
                    }
                }
                @media screen and (max-width: 545px){
                    .input{
                        width: 200px;
                    }
                }
                @media screen and (max-width: 481px){
                    .input{
                        width: 150px;
                    }
                    
                }
                @media screen and (max-width: 377px){
                    .input{
                        width: 125px;
                        padding-left: 2px;
                    }
                    
                }
            }
            @media screen and (max-width: 991px){
                .div2{
                    height: 38px;
                }
            }  
            button{
                .bi-search{
                    width: 20px;
                    height: 20px;

                }
            }
            ul{
                li{
                    #navbarDropdown{
                        margin-top: 5px;
                        padding-left: 50px;
                        color: white;
                    }
                }
            }
            .btn-outline-success{
                color: orange;
                border: 1px solid orange;
                border-radius: 0px 2px 2px 0px;
            }
            .btn-outline-success:hover{
                color: white;
                background-color: orange;
            }
            .div4{
                padding-left: 50px;
                padding-top: 15px;
                font-size: 14px;
            }
            .div5{
                padding-left: 50px;
                padding-top: 13px;
                a{
                    text-decoration: none;
                    color: white;
                    transition: transform;
                }
                a:hover{
                    color: $naranja;
                }
            }
            .div6{
                border: map-get($boton, borde-naranja ); 
                border-radius: 5px;
                background-color: map-get($boton, fondo-naranja );
                height: 30px;
                width: 100px;
                @extend %flexDos;
                margin-left: 50px;
                margin-top: 9px;
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    color: white;
                }
            }
            
        }
    }
    @media screen and (max-width: 991px){
        .navbar{
            display: block;
            .container-fluid{
                display: flex;
                justify-content: space-around;
            }
            .div1{
                margin-left: 0px;
            }
            @media screen and (max-width: 491px){
                .div1{
                    margin-left: -15px;
                }
            }
            .d-flex{
                margin-right: 40px;
                .div2{
                    padding-left: 0px;
                    margin-left: 40px;
                }
                @media screen and (max-width: 927px){
                    .div2{
                        margin-left: 17px;
                    }
                }
                @media screen and (max-width: 401px){
                    .div2{
                        margin-left: 12px;
                    }
                }
                @media screen and (max-width: 350px){
                    .div2{
                        margin-left: 7px;
                    }
                }
            }
            @media screen and (max-width: 927px){
                .d-flex{
                    margin-right: 17px;
                }
            }
            @media screen and (max-width: 401px){
                .d-flex{
                    margin-right: 12px;
                }
            }
            @media screen and (max-width: 350px){
                .d-flex{
                    margin-right: 7px;
                }
            }
            }
            .nav-item{
                display: flex;
                justify-content: center;
                margin-right: 38px;
            }
            .div5{
                display: flex;
                justify-content: center;
                margin-right: 7px;
            }
            .indexx{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                margin-right: 46px;
            }
            .navbar-toggler{
                border: solid 2px gray;
                background-color: white;
                margin-right: 0px;
                margin-left: 0px;
                margin-right: -0px;
            }
            .navbar-toggler:hover{
                border: solid 0px grey;
                color: gray;
            }
            @media screen and (max-width: 469px){
                .navbar-toggler{
                    margin-right: -15px;
                }
            }
            @media screen and (max-width: 377px){
                .navbar-toggler{
                    margin-left: 0px;
                }
            }
        }
    }
    @media screen and (max-width: 557px){
        .navbar{
            .div1{
                margin-left: 0px;
                padding-right: 0px;
                margin-right: 0px;
                padding-left: 0px;
                h1{
                    padding-right: 0px;
                    margin-right: 0px;
                }
            }
            .d-flex{
                margin-left: 0px;
                margin-right: 0px;
                .div2{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            .navbar-toggler{
                margin-right: -15px;
            }
        }
    }

.color{
    background-color: $header-back;
    .volver-inicio{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        a{
            text-decoration: none;
            color: white;
            padding-top: 20px;
            transition: transform;
            .fuente{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 35px;
            }
        }
        a:hover{
            color: $naranja;
        }
    }
}