$header-back: rgb(35, 44, 44); 
$naranja: rgba(255, 166, 0, 0.993);
$main-back: rgb(230, 228, 228);
$azul: rgb(52, 52, 71);
$estrellas: rgb(231, 187, 76);
$gris-claro: rgb(160, 155, 155);
$box-shadow: rgba(0, 0, 0, 0.75);
$footer: rgb(86, 86, 139);